dist: focal
language: minimal

stages:
  - test
  - deploy

services: docker

# Setup jobs per platform
jobs:
  include:
    # alpine
    - stage: test
      on:
        tags: true
      script:
        - if [ -n "${TRAVIS_TAG}" ]; then export TAG="${TRAVIS_TAG}"; else export TAG="latest"; fi)
        - echo "TAG=${TAG}"
        - docker build -t "anemometer-fpm-tests:${TRAVIS_TAG}-alpine" --build-arg "PREPARE_TESTS=true" -f docker/fpm/Dockerfile_alpine .
        - docker run "anemometer-fpm-tests:${TRAVIS_TAG}-alpine" /var/www/html/vendor/phpunit/phpunit/phpunit
    # debian
    - script:
        - docker build -t "anemometer-fpm-tests:${TRAVIS_TAG}" --build-arg "PREPARE_TESTS=true" -f docker/fpm/Dockerfile_debian .
        - docker run "anemometer-fpm-tests:${TRAVIS_TAG}" /var/www/html/vendor/phpunit/phpunit/phpunit
    - stage: deploy
      on:
        tags: true
      script:
        - echo "Start deploying..."
