dist: focal
language: minimal

stages:
  - test
  - deploy

services: docker

# Setup jobs
jobs:
  include:
    # alpine
    - stage: test
      script:
        - docker build -t "anemometer-fpm-tests:current-alpine" --build-arg "PREPARE_TESTS=true" -f docker/fpm/Dockerfile_alpine .
        - docker run "anemometer-fpm-tests:current-alpine" /var/www/html/vendor/phpunit/phpunit/phpunit
    # debian
    - script:
        - docker build -t "anemometer-fpm-tests:current" --build-arg "PREPARE_TESTS=true" -f docker/fpm/Dockerfile_debian .
        - docker run "anemometer-fpm-tests:current" /var/www/html/vendor/phpunit/phpunit/phpunit
    - stage: deploy
      on:
        tags: true
      script:
        - echo "Start deploying anemometer-fpm:${TRAVIS_TAG}..."
