dist: focal
os: linux
language: shell

stages:
  - test
  - build

services: docker

# Setup jobs
jobs:
  include:
    # alpine
    - stage: test
      script:
      - docker build -t "anemometer-fpm-tests:current-alpine" --build-arg "PREPARE_TESTS=true" -f docker/fpm/Dockerfile_alpine .
      - docker run "anemometer-fpm-tests:current-alpine" /var/www/html/vendor/phpunit/phpunit/phpunit
    # debian
    - script:
      - docker build -t "anemometer-fpm-tests:current" --build-arg "PREPARE_TESTS=true" -f docker/fpm/Dockerfile_debian .
      - docker run "anemometer-fpm-tests:current" /var/www/html/vendor/phpunit/phpunit/phpunit
    - stage: build
      # anemometer-fpm:alpine
      script:
      - docker build -t "anemometer/anemometer-fpm:${TRAVIS_TAG}-alpine" -f docker/fpm/Dockerfile_alpine .
      - docker tag "anemometer/anemometer-fpm:${TRAVIS_TAG}-alpine" "anemometer/anemometer-fpm:latest-alpine"
      if: tag IS present
      before_deploy:
        - echo "${DOCKERHUB_TOKEN}" | docker login -u="${DOCKERHUB_USER}" --password-stdin;
      deploy:
        provider: script
        script:
          - docker push "anemometer/anemometer-fpm:${TRAVIS_TAG}-alpine"
          - docker push "anemometer/anemometer-fpm:latest-alpine"
        on:
          tags: true
    # anemometer-fpm:debian
    - script:
      - docker build -t "anemometer/anemometer-fpm:${TRAVIS_TAG}" -f docker/fpm/Dockerfile_debian .
      - docker tag "anemometer/anemometer-fpm:${TRAVIS_TAG}" "anemometer/anemometer-fpm:latest"
      if: tag IS present
      before_deploy:
        - echo "${DOCKERHUB_TOKEN}" | docker login -u="${DOCKERHUB_USER}" --password-stdin;
      deploy:
        provider: script
        script:
          - docker push "anemometer/anemometer-fpm:${TRAVIS_TAG}-alpine"
          - docker push "anemometer/anemometer-fpm:latest-alpine"
        on:
          tags: true
    # anemometer-nginx:alpine
    - script:
      - docker build -t "anemometer/anemometer-nginx:${TRAVIS_TAG}-alpine" -f docker/nginx/Dockerfile_alpine .
      - docker tag "anemometer/anemometer-nginx:${TRAVIS_TAG}-alpine" "anemometer/anemometer-nginx:latest-alpine"
      if: tag IS present
      before_deploy:
        - echo "${DOCKERHUB_TOKEN}" | docker login -u="${DOCKERHUB_USER}" --password-stdin;
    # anemometer-nginx:debian
    - script:
      - docker build -t "anemometer/anemometer-nginx:${TRAVIS_TAG}" -f docker/nginx/Dockerfile_alpine .
      - docker tag "anemometer/anemometer-nginx:${TRAVIS_TAG}" "anemometer/anemometer-nginx:latest"
      if: tag IS present
      before_deploy:
        - echo "${DOCKERHUB_TOKEN}" | docker login -u="${DOCKERHUB_USER}" --password-stdin;
      deploy:
        provider: script
        script:
          - docker push "anemometer/anemometer-fpm:${TRAVIS_TAG}-alpine"
          - docker push "anemometer/anemometer-fpm:latest-alpine"
        on:
          tags: true
